.comment-maker-ctn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.5rem 0.25rem;
  margin-bottom: 1rem;
}

.comment-maker-ctn label {
  color: rgb(116, 116, 116);
}

.comment-username {
  font-weight: 600;
  color: var(--main-button-color);
}

.comment-maker-text {
  resize: none;
  border: 2px rgb(221, 221, 221) solid;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

.comment-maker-btn {
  margin: 0.5rem 0;
}
