.post-maker-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 3rem;
}

.group-select-ctn {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.post-options-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px rgb(223, 223, 223) solid;
  width: 100%;
}

.options-btn {
  padding: 1.5rem;
  font-weight: 700;
  color: rgb(128, 128, 128);
  margin: 0 0.75rem;
  font-size: 1.1rem;
}

.options-btn:hover {
  color: rgb(120, 62, 212);
}

.title-ctn {
  border: 2px rgb(219, 219, 219) solid;
  margin: 1rem;
  width: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.title-ctn input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.text-ctn {
  border: 2px rgb(219, 219, 219) solid;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.text-ctn textarea {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  resize: vertical;
}

.post-submit-ctn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.post-submit-btn {
  background-color: rgb(124, 92, 243);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: background-color 0.15s linear;
  -webkit-transition: background-color 0.15s linear;
  -moz-transition: background-color 0.15s linear;
  -ms-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
}

.post-submit-btn:hover {
  background-color: rgb(113, 80, 233);
}
