.post-comment-ctn {
  padding: 0.75rem;
  margin: 2rem 0.5rem;
  border: 2px rgb(219, 219, 219) solid;
  background-color: white;
}

.comment-content-ctn {
  padding: 0.75rem;
}

.comment-date {
  color: rgb(99, 99, 99);
  font-size: 0.85rem;
}

.comment-owner {
  font-weight: 600;
  color: rgb(75, 75, 75);
}

.no-comments-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

.no-comments-main span {
  font-size: 1.2rem;
  padding: 0.25rem;
  color: rgb(148, 148, 148);
}

.chat-icon {
  width: 5rem;
  height: 5rem;
  color: rgba(78, 93, 230, 0.4);
}
