.saved-posts-ctn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0.25rem;
}

.savedposts-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-button-color);
  align-self: flex-start;
  padding: 0 0.25rem;
  margin: 1rem 0.5rem 0.75rem 0.5rem;
}

@media screen and (min-width: 600px) {
  .saved-posts-ctn {
    padding: 2rem 0;
    width: 40rem;
    min-width: 35vw;
    margin: 0 auto;
  }

  .savedposts-heading {
    font-size: 1.8rem;
  }
}
