.home-main-ctn {
  margin-bottom: 1rem;
}

.home-posts-ctn {
  display: flex;
  flex-direction: column;
}

.posts-ctn {
  margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
  .home-main-ctn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin: 2rem;
    width: 75%;
    margin: 0 auto;
  }

  .home-posts-ctn {
    width: 75%;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-main-ctn {
    padding: 1rem 5rem;
  }
}
