.home-main-ctn {
  margin-bottom: 3rem;
}

@media screen and (min-width: 600px) {
  .home-main-ctn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin: 2rem 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .home-main-ctn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    width: 70rem;
    min-width: 75vw;
    padding: 2rem 5rem;
    margin: 0 auto;
  }
}
