.comments-view-ctn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

@media screen and (min-width: 600px) {
  .comments-view-ctn {
    margin: 2rem 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .comments-view-ctn {
    width: 55vw;
    padding: 2rem 5rem;
    margin: 0 auto;
  }
}
