.create-post-btn {
  display: block;
  background-color: var(--main-button-color);
  text-align: center;
  color: white;
  font-weight: 500;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: 3px var(--main-button-color) solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.create-post-btn:hover {
  background-color: rgb(88, 97, 235);
}

.create-post-btn:active {
  background-color: var(--main-button-color);
}

.create-post-btn:visited {
  color: white;
}

@media screen and (min-width: 600px) {
  .create-post-btn {
    margin: 0rem;
  }
}
