.post-ctn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: 2px var(--main-gray-color) solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 0.5rem 0.25rem;
  margin-bottom: 1rem;
  background-color: var(--element-bg-color);
}

.post-info-ctn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem;
  text-align: start;
  font-size: 0.9rem;
}

.post-info-group {
  margin: 0 0.5rem;
  font-weight: 700;
  color: var(--main-button-color);
}

.op-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(109, 109, 109);
}

.post-date {
  margin: 0 0.25rem;
}

.post-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.post-content-url {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(105, 105, 105);
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.post-content-url:hover {
  color: rgb(24, 24, 24);
}

.post-content-ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  color: rgb(41, 40, 40);
  padding: 0.5rem;
  border-bottom: 2px rgb(226, 225, 225) solid;
  border-top: 2px rgb(226, 225, 225) solid;
}

.post-actions-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  color: rgb(114, 115, 116);
  padding: 0.25rem 0.75rem;
}

.votes-ctn {
  display: flex;
}

.number-ctn {
  padding: 0 0.35rem;
  text-align: center;
}

.arrow-up-icon:hover {
  color: rgb(251, 86, 7);
}

.arrow-down-icon:hover {
  color: rgb(58, 134, 255);
}

.post-comments-ctn {
  display: flex;
  margin: 0 3rem;
}

.post-comments-ctn span {
  margin-right: 0.35rem;
}

.post-comments-ctn:hover {
  color: rgb(34, 96, 184);
}

.post-save-ctn {
  display: flex;
}

.post-save-ctn .icon {
  width: 1.2rem;
  margin-right: 0.15rem;
}

.post-save-ctn:hover {
  color: rgb(26, 147, 111);
}
