@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --main-button-color: rgb(78, 88, 230);
  --main-gray-color: rgb(221, 221, 221);
  --main-black-color: rgb(69, 70, 90);
}

* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.3rem;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  background-color: rgb(245, 245, 245);
}

.icon {
  width: 1.1rem;
}

a,
a:visited {
  color: var(--main-black-color);
  text-decoration: none;
  background-color: transparent;
}

button {
  display: block;
  cursor: pointer;
  background-color: var(--main-button-color);
  color: white;
  border: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.05s linear;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
}

button:hover {
  background-color: rgb(88, 97, 235);
}

.error-msg {
  align-self: start;
  text-align: left;
  color: rgb(224, 61, 33);
  margin: 0.5rem 0;
}

input {
  border: none;
}

.border-ctn {
  display: flex;
  padding: 0.25rem 0.35rem;
}

.borderline {
  border-top: 3px rgb(230, 230, 230) solid;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

ul,
li {
  padding: 0;
  list-style: none;
}
